In [18]:
import os
import shutil
import pandas as pd
import geopandas as gpd

In [19]:
def read_folder_dataset(dataset):
    
    for filename in os.listdir(dataset):
        if os.path.splitext(filename)[0].lower() == 'vector_split': # and os.path.splitext(filename)[0].lower() != 'final_result':
            copas_path = os.path.join(dataset, filename)
        elif os.path.splitext(filename)[0].lower() == 'img_grid':
            grid = gpd.read_file(os.path.join(dataset, filename)).set_index('id')
        elif os.path.splitext(filename)[1] == '':
            imgs_path = os.path.join(dataset, filename)
    
    return copas_path, grid, imgs_path

In [20]:
source_path = os.path.join('..', 'datasets', 'train_carmona-sobradinho')
dst_path =  os.path.join('..', 'datasets', 'train_sobradinho-carmona')

In [23]:
copas_path_source, grid_source, imgs_path_source = read_folder_dataset(source_path)
copas_path_dst, grid_dst, imgs_path_dst = read_folder_dataset(dst_path)

id_move_start = grid_dst.index[-1]+1

id_img = []
for filename in os.listdir(imgs_path_source):
    id_img.append(int(os.path.splitext(filename)[0]))
    id_img.sort()

# reference_moved = []
for i in id_img:
    path = os.path.join(imgs_path_source, '{:05}.tif'.format(i))
    path_dst = os.path.join(imgs_path_source, '{:05}.tif'.format(id_move_start))
    
    # Imagens
    os.rename(path, path_dst)
    shutil.copy(path_dst, os.path.join(imgs_path_dst, '{:05}.tif'.format(id_move_start)))
    os.rename(path_dst, path)
    
    # Grade
    grid_source.rename(index={i:id_move_start}, inplace=True)
    
    # Copas
    vector = gpd.read_file(copas_path_source, layer='{:05}'.format(i))
    vector.to_file(copas_path_dst, layer='{:05}'.format(id_move_start))
    
#     # Ids
    id_move_start += 1
    
grid_dst_new = pd.concat([grid_dst, grid_source], axis=0)
grid_dst_new.to_file(os.path.join(dst_path, 'img_grid.geojson'), driver='GeoJSON')

In [11]:
id_img

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453]

In [16]:
final = gpd.read_file(os.path.join(dst_path, 'img_grid.geojson')).set_index('id')
final.loc[final['split_samples'] == 'train']

    split_samples                                           geometry
id
1           train  POLYGON ((293979.042 7516004.860, 293979.042 7...
2           train  POLYGON ((293979.042 7515992.061, 293979.042 7...
3           train  POLYGON ((293991.841 7516004.860, 293991.841 7...
4           train  POLYGON ((293991.841 7515992.061, 293991.841 7...
5           train  POLYGON ((293991.841 7515979.263, 293991.841 7...
..            ...                                                ...
450         train  POLYGON ((294180.509 7515413.647, 294180.509 7...
451         train  POLYGON ((294180.509 7515400.847, 294180.509 7...
452         train  POLYGON ((294180.509 7515388.048, 294180.509 7...
453         train  POLYGON ((294180.509 7515375.249, 294180.509 7...
454         train  POLYGON ((294180.509 7515362.450, 294180.509 7...

[391 rows x 2 columns]

In [ ]:
pd.concat([grid_dst, grid_source], axis=0)

In [ ]:
grid_dst

In [ ]:
grid_source

In [ ]:
grid_dst. index[-1]

In [ ]:
copas_path

In [ ]:
grid

In [ ]:
img_path